@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
		rgb(var(--background-start-rgb));
}

@layer base {
	.background::after {
		content: '';
		/* Default */
		@apply absolute inset-0 hidden [--bg-color:black] [--percent:20%] lg:block;
		/* Gradient */
		@apply bg-[linear-gradient(90deg,var(--bg-color)_var(--percent),transparent_40%,transparent_60%,var(--bg-color)_calc(100%-var(--percent)))];
		/* Breakpoints */
		@apply lg:[--percent:5%] xl:[--percent:15%] 2xl:[--percent:25%];
	}

	.ping::before {
		@apply animate-ping [--ping-duration:2s] [--ping-scale:4];
	}
}

@layer components {
	.ping {
		@apply relative mr-2 h-1 w-1 rounded-full bg-green-400;
	}
	.ping::before {
		content: '';
		@apply absolute inset-0 rounded-full bg-inherit;
	}
}

@layer utilities {
	.rendering-pixelated {
		image-rendering: pixelated;
	}

	.halftone {
		filter: contrast(1.5);
	}

	.halftone::after {
		content: '';

		--base-size: 50%;
		--dots-size: calc(var(--base-size) / 2);
		background: radial-gradient(#525252 var(--dots-size), transparent var(--dots-size)),
			radial-gradient(
				farthest-corner at 70% 80%,
				#737373 calc(var(--dots-size) / 2),
				transparent calc(var(--dots-size) / 2)
			),
			radial-gradient(
				farthest-corner at 15% 20%,
				#d6d6d6 calc(var(--dots-size) / 2),
				transparent calc(var(--dots-size) / 2)
			);
		background-size: 4px 4px;
		@apply absolute inset-0 -left-1/2 -top-1/2 h-[200%] w-[200%] -rotate-12 opacity-50;
	}

	.fade-overlay::after {
		content: '';
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.9) 140%);
		@apply absolute inset-0;
	}
}
