@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* @media (prefers-color-scheme: light) {
		--theme-50: 10 10 10;
		--theme-100: 23 23 23;
		--theme-200: 38 38 38;
		--theme-300: 64 64 64;
		--theme-400: 82 82 82;
		--theme-500: 115 115 115;
		--theme-600: 163 163 163;
		--theme-700: 212 212 212;
		--theme-800: 229 229 229;
		--theme-900: 245 245 245;
	} */

	/* @media (prefers-color-scheme: dark) { */
	--theme-50: 250 250 250;
	--theme-100: 245 245 245;
	--theme-200: 229 229 229;
	--theme-300: 212 212 212;
	--theme-400: 163 163 163;
	--theme-500: 115 115 115;
	--theme-600: 82 82 82;
	--theme-700: 64 64 64;
	--theme-800: 38 38 38;
	--theme-900: 10 10 10;
	/* } */

	-webkit-tap-highlight-color: transparent;
}

* {
	@apply outline-offset-4;
}

body {
	@apply bg-black text-theme-50;
}

:focus-visible {
	@apply outline outline-2 outline-theme-300;
}

::selection {
	@apply bg-theme-700 text-white;
}

img {
	@apply select-none;
}

@layer base {
	.icon-right-hook-arrow::before {
		content: '\21AA';
		@apply font-sans-display text-xs;
	}

	.icon-north-east-arrow::before {
		content: '\2197';
		@apply font-sans-display;
	}

	.background::after {
		--fade-color: black;
		--percent: 20%;
		--middle-percent: 10%;

		/* @media (prefers-color-scheme: light) {
			--fade-color: white;
		} */

		content: '';
		background-image: linear-gradient(
				90deg,
				var(--fade-color) var(--percent),
				transparent calc(50% - var(--middle-percent)),
				transparent calc(50% + var(--middle-percent)),
				var(--fade-color) calc(100% - var(--percent))
			),
			linear-gradient(transparent 80%, transparent 80%, var(--fade-color) 100%);

		/* Default */
		@apply absolute inset-0;
		/* Breakpoints */
		@apply lg:[--percent:5%] xl:[--percent:15%] 2xl:[--percent:25%];
		@apply [--middle-percent:30%] [--percent:0%] sm:[--middle-percent:10%] sm:[--percent:20%];
	}

	.ping::before {
		@apply animate-ping [--ping-duration:2s] [--ping-scale:4];
	}
}

@layer components {
	.ping {
		@apply relative mr-2 h-1 w-1 rounded-full bg-green-400;
	}
	.ping::before {
		content: '';
		@apply absolute inset-0 rounded-full bg-inherit;
	}
}

@layer utilities {
	.rendering-pixelated {
		image-rendering: pixelated;
	}

	.halftone {
		filter: contrast(1.5);
	}

	.halftone::after {
		content: '';

		--base-size: 50%;
		--dots-size: calc(var(--base-size) / 2);
		background: radial-gradient(#525252 var(--dots-size), transparent var(--dots-size)),
			radial-gradient(
				farthest-corner at 70% 80%,
				#737373 calc(var(--dots-size) / 2),
				transparent calc(var(--dots-size) / 2)
			),
			radial-gradient(
				farthest-corner at 15% 20%,
				#d6d6d6 calc(var(--dots-size) / 2),
				transparent calc(var(--dots-size) / 2)
			);
		background-size: 4px 4px;
		@apply absolute -left-1/2 -top-1/2 h-[200%] w-[200%] -rotate-12 opacity-50;
	}

	.fade-overlay::after {
		content: '';
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.9) 140%);
		@apply absolute inset-0;
	}
}
